@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-label {
    visibility: visible;
    width: 50mm;
    height: 20mm;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .print-label .qr-code {
    width: 25mm; /* Half of the label width */
    height: 20mm;
    float: left;
  }
  .print-label .text-content {
    width: 25mm; /* Remaining space */
    height: 20mm;
    float: left;
    font-size: 8pt; /* Adjust font size to fit the space */
    line-height: 1;
  }
}

.flex {
  display: flex;
  width: 100%;
}

.flex > * {
  width: 50%;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
